body {
  height: 100vh;
  background-image:
    linear-gradient(
      to top right,
      #00380e, #005615
      );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: Georgia, "Trebuchet MS", sans-serif;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: white;
}

a:visited {
  color: white;
}

button
{
  padding: 0 15px;
  margin: 0.6em auto;
  border-width: 2.7px;
  font-size: 1.5em;
  display: block;
  cursor: pointer;
  outline: none;
}

button:hover{
  background-color: #dddddd;
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
}

.QuizQuestion {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  padding: 5% 10% 0 10%;
  text-align: center;
}

.QuestionMarker {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
}

.TimerBackground{
  background-color: grey;
  height: inherit;
  width: 65%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 30px;
}

.Timer {
  background-color: orange;
  height: inherit;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 30px;
}

.ResetQuiz {
  font-size: 25px;
  display: block;
  text-align: center;
}

.QuizInfo {
  display: flex;
  height: 50px;
  margin: 10 auto 0 auto;
  padding: 0 20px;
  font-size: 19px;
  background-color: #0f0704;
  color: #f2ded5;
}

.ScoreDisplay {
  position: absolute;
  right: 0;
  padding-right: inherit;
}
